image: docker:19.03.8

services:
  - docker:19.03.8-dind

variables:
  DOCKER_HOST: tcp://kos-gitlab-runner02:2375
  DOCKER_TLS_CERTDIR: ""
  IMAGE_NAME: $CI_REGISTRY/th2-recon-template
  VERSION: "1.0"

before_script:
  - docker info
  - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY

build:
  tags:
  - docker-in-docker
  stage: build
  script:
    - docker pull $IMAGE_NAME:latest || true
    - docker build --cache-from $IMAGE_NAME:latest --tag $IMAGE_NAME:$VERSION.$CI_PIPELINE_IID --tag $IMAGE_NAME:latest --build-arg USERNAME=$NEXUS_USERNAME --build-arg PASSWORD=$NEXUS_PASSWORD .
    - docker push $IMAGE_NAME:$VERSION.$CI_PIPELINE_IID
    - docker push $IMAGE_NAME:latest
